MusorWpf/Connected Services/ServiceData/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8312/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:complexType name="SendIndfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateSubEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Seeker" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="Users" nillable="true" type="q1:ArrayOfUser" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="passes" nillable="true" type="q2:ArrayOfLogPass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendIndfo" nillable="true" type="tns:SendIndfo" />
  <xs:complexType name="logger">
    <xs:sequence>
      <xs:element minOccurs="0" name="Helper" nillable="true" type="tns:Helper" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="User" nillable="true" type="q3:User" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="logPass" nillable="true" type="q4:LogPass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="logger" nillable="true" type="tns:logger" />
  <xs:complexType name="Helper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Helper" nillable="true" type="tns:Helper" />
</xs:schema>