MusorWpf/Connected Services/ServiceData/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8312/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:import schemaLocation="http://localhost:8312/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFService2" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="logPass" nillable="true" type="q1:LogPass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="LoginResult" nillable="true" type="q2:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="logPass" nillable="true" type="q3:LogPass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="GetCodesResult" nillable="true" type="q4:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="logPass" nillable="true" type="q5:LogPass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="user" nillable="true" type="q6:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="SendNicknameResult" nillable="true" type="q7:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="getlist" nillable="true" type="q8:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="GetListNicknameResult" nillable="true" type="q9:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHelperAcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="chelper" nillable="true" type="q10:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHelperAccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="CreateHelperAccResult" nillable="true" type="q11:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="AccBalance" nillable="true" type="q12:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="ChangeBalanceResult" nillable="true" type="q13:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="AccBalance" nillable="true" type="q14:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="GetBalanceResult" nillable="true" type="q15:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodetoHelper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="Addhelper" nillable="true" type="q16:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodetoHelperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="AddCodetoHelperResult" nillable="true" type="q17:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="Dhelper" nillable="true" type="q18:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="GetDateResult" nillable="true" type="q19:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelpers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="helper" nillable="true" type="q20:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelpersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="GetHelpersResult" nillable="true" type="q21:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHelperAcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="helper" nillable="true" type="q22:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHelperAccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="DeleteHelperAccResult" nillable="true" type="q23:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCodeHelper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="helper" nillable="true" type="q24:logger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCodeHelperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFService2" minOccurs="0" name="RemoveCodeHelperResult" nillable="true" type="q25:SendIndfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>