MusorWpf/Connected Services/ServiceData/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8312/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LogPass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access" type="tns:Access" />
      <xs:element minOccurs="0" name="Codes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateSubEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HWID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="SecretKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_Codes" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogPass" nillable="true" type="tns:LogPass" />
  <xs:simpleType name="Access">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Admin" />
      <xs:enumeration value="Helper" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Access" nillable="true" type="tns:Access" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NicknameSended" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfLogPass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogPass" nillable="true" type="tns:LogPass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogPass" nillable="true" type="tns:ArrayOfLogPass" />
</xs:schema>